@import "../../utils/variables.scss";
.mainHomeContainer {
    width: 100%;
    min-height: 100vh;
    font-family: dancing;
    .backgroundContainer {
        background-image: url("../../assets/img/2I9J.gif");
        width: 100%;
        height: 100vh;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: 120% 120%;
        background-position: center;
        z-index: -100;
        // top: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
            z-index: -99;
        }
    }
    .titleContainer {
        color: white;
        z-index: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h1 {
            font-size: 48px;
            margin-bottom: 20px;
        }
        p {
            font-size: 64px;
        }
    }
}
.projectsContainer {
    width: 100%;
    height: 100vh;
    z-index: 100;
}
.backgroundProjectsContainer {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/img/projectsContainer.jpg");
    background-size: 100% 100%;
    z-index: -99;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
        z-index: -99;
    }
    .projectsTitleContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 50px;
    }
    h2 {
        color: white;
        font-size: 64px;
        cursor: pointer;
        @media screen and (max-width: 800px) {
            font-size: 32px;
        }
    }
    .line {
        width: 32vw;
        height: 1px;
        background-color: white;
    }
    .projects {
        width: 100%;
        height: 70vh;
        background-color: rgba($color: white, $alpha: 0.1);
        margin-top: 10vh;
    }
}
