@import "../../utils/variables.scss";
.mainHomeContainer {
    width: 100%;
    min-height: 100vh;
    font-family: dancing;
    position: relative;
    .backgroundContainer {
        background-image: url("../../assets/img/2I9J.gif");
        width: 100%;
        height: 100vh;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: 120% 120%;
        background-position: center;
        position: sticky;
        z-index: -100;
        top: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
            z-index: -99;
        }
    }
    .titleContainer {
        color: white;
        z-index: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h1 {
            font-size: 48px;
            margin-bottom: 20px;
        }
        p {
            font-size: 64px;
        }
    }
}
.projectsContainer {
    width: 100%;
    height: 100vh;
    z-index: -100;
}
.backgroundProjectsContainer {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/img/projectsContainer.jpg");
    background-size: 100% 100%;
    z-index: -99;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
        z-index: -99;
    }
    h2 {
        color: white;
        font-size: 64px;
        position: relative;
        text-align: center;
        top: 5vh;
        left: 50%;
        transform: translateX(-50%);

        &::before {
            content: "";
            width: 35%;
            height: 1px;
            position: absolute;
            background-color: aliceblue;
            left: 4vw;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after {
            content: "";
            width: 35%;
            height: 1px;
            position: absolute;
            background-color: aliceblue;
            right: 4vw;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
