.gallery {
    color: white;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: rgba(139, 139, 139, 0.308);
    border-radius: 80px;
    border: 1px solid lightgray;
    position: relative;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    &:hover {
        transform: scale(1.06);
    }
    &__left {
        img {
            width: 100%;
        }
    }
    &__right {
        img {
            width: 100%;
            transform: rotate(180deg);
        }
    }
}
.projectContainer {
    height: 80%;
    width: 80%;
    overflow: hidden;
    background-color: aqua;
    .imgContainer {
        width: 50%;
        height: 100%;
        display: flex;
        overflow: hidden;

        .in {
            width: 100%;
            height: 100%;
            animation: in 0.2s ease-out;
        }
        .out {
            width: 100%;
            height: 100%;
            animation: in 0.2s ease-out;
        }
    }
}
@keyframes in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
